* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is mainly use for switching dark to bright */
:root {
    --dark-white: #ffffff;
    --dark-black: #1b1b1b;
    --dark-active: #209900;
    --dark-heading: black;
    --dark-paragraph: #535151;
    --dark-resume-btn-border: #1b1b1b;
    --dark-testimonials-border: #53515140;
    --dark-testimonials-bg-color: #fbfbfb;
    --dark-testimonials-color: #000000;
    --dark-blue: #0039a6;
    --dark-btn-color: #fcf6f5;
    --dark-skill-btn: #1b1b1b;
}

.mode {
    background-color: var(--dark-white);
}

.dark {
    --dark-white: #1b1b1b;
    --dark-black: #ffffff;
    --dark-active: #209900;
    --dark-heading: #ffffff;
    --dark-paragraph: #d9d9d9;
    --dark-resume-btn-border: #ffffff;
    --dark-testimonials-border: #53515140;
    --dark-testimonials-bg-color: #303030;
    --dark-testimonials-color: #ffffff;
    --dark-blue: #0039a6;
    --dark-btn-color: #fcf6f5;
    --dark-skill-btn: #ffffff;
}

.nav-bg-color {
    background: var(--dark-white);
}

.nav-text-color {
    color: var(--dark-white);
}

.active-bg-color {
    background: var(--dark-active);
}

.heading-color {
    color: var(--dark-heading);
}

.paragraph-color {
    color: var(--dark-paragraph);
}

.btn-font-color {
    color: var(--dark-btn-color);
}

.dark-bg-blue {
    background: var(--dark-blue);
}

.resume-btn {
    border-color: var(--dark-resume-btn-border);
    color: var(--dark-resume-btn-border);
}

.testimonils-details {
    border: var(--dark-testimonials-border);
    background-color: var(--dark-testimonials-bg-color);
    color: var(--dark-testimonials-color);
}

.skill-btn {
    background-color: var(--dark-skill-btn);
    color: var(--dark-white);
}

.heading-text {
    font-size: 28px;
}

/* this code is mainly controlling all body */
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: var(--dark-white);
    border-color: var(--dark-white);
}

.close {
    display: none;
}

.nav-list {
    z-index: 9;
    display: none;
    border-color: var(--dark-white);
}

.hover-list {
    margin: 20px 0;
    font-size: 20px;
    color: var(--dark-black);
}

.hover-list:hover {
    background: var(--dark-blue);
    transition: all 0.2s ease-in;
    color: white;
}

.allMenus {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.allMenus.show {
    max-height: 500px;
}

.hidden {
    display: none;
}

.list-visibility-device {
    display: block;
}

.main {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(11, 32, 222, 0) 100%
    );
}

.main-dark {
    background: radial-gradient(
        42.93% 42.93% at 50% 52.09%,
        rgba(0, 57, 166, 0.3) 0%,
        rgba(22, 32, 51, 0) 100%
    );
}

.desk-view-image {
    display: none;
}

.btn-connect {
    width: 100%;
}

.right-desk-div {
    rotate: -10deg;
}

.splide__slide a img {
    max-width: 100%;
}

.experience-background-light-color {
    background: radial-gradient(
        191.98% 141.42% at 0% 0%,
        rgba(11, 32, 222, 0.3) 0%,
        rgba(255, 255, 255, 0.3) 25.3%,
        rgba(11, 32, 222, 0.3) 100%
    );
}

.experience-background-dark-color {
    background: radial-gradient(
        191.98% 141.42% at 0% 0%,
        rgba(11, 32, 222, 1) 0%,
        rgba(236, 236, 236, 0.7) 25.3%,
        rgba(11, 32, 222, 1) 100%
    );
}

.floating {
    position: absolute;
    transform: translateX(50%);
}

.center-desk-div {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 57, 166, 0.15) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

@media screen and (min-width: 768px) {
    .navbar .allMenus {
        max-height: 40px;
    }

    .btn-connect {
        width: 294px;
    }

    .navbar .allMenus ul li {
        border-radius: 10px;
        padding: 4px 6px;
    }
}
